/* element 
{
    --main-color: rgb(237, 120, 106);
    --secondary-color: rgb(237, 120, 106);
} */

@font-face 
{
    font-family: "Arvo-Bold";
    src: url("../../font/Arvo/Arvo-Bold.ttf");
}

@font-face 
{
    font-family: "Arvo";
    src: url("../../font/Arvo/Arvo-Regular.ttf");
}

html 
{
    margin: auto;
    max-width: 1280px;
}

body 
{
    vertical-align: middle;
    text-align: center;
}

a
{
    color:  rgb(190, 190, 190);
    text-decoration: none;
}

a:hover
{
    color: rgb(135, 135, 135);
    text-decoration: none;
}

.name-title
{
    font-family: Arvo-Bold, Helvetica, Arial, sans-serif;
    color: rgb(237, 120, 106);
    text-shadow: rgba(0, 0, 0, 0.1) 0.1em 0.075em 0px;
    font-size: 3em;
    letter-spacing: 13px;
}

.name-title a 
{
    color: rgb(237, 120, 106);
    text-decoration: none;
}

.contact-title
{
    font-family: Arvo-Bold, Helvetica, Arial, sans-serif;
    color: rgb(237, 120, 106);
    text-shadow: rgba(0, 0, 0, 0.1) 0.1em 0.075em 0px;
    font-size: 2.5em;
    letter-spacing: 2px;
}

@media screen and (max-width: 1280px)
{
    .name-title 
    {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 736px)
{
    .name-title 
    {
        font-size: 2em;
        letter-spacing: 8px;
        line-height: 1.325em;
    }
}

.main-panel
{
    max-width: 1280px;
}

.main-color
{
    background-color: rgb(237, 120, 106);
}

.navi
{
    background-color: white;
    height: 65px;
}

.text-base
{
    font-family: Arvo, Helvetica, Arial, sans-serif;
    color: rgb(165, 165, 165);
}

.text-base.t-white
{
    color: white
}

.text-title
{
    font-family: Arvo, Helvetica, Arial, sans-serif;
    color: rgb(135, 135, 135);
    font-size: 1.3em;
}

.text-nav
{
    font-family: Arvo, Helvetica, Arial, sans-serif;
    color: rgb(135, 135, 135);
    font-size: 1.3em;
}

@media screen and (max-width: 640px)
{
    .text-nav
    {
        font-family: Arvo, Helvetica, Arial, sans-serif;
        color: rgb(135, 135, 135);
        font-size: 1em;
    }
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.vertical-center
{
    vertical-align: center;
}

.sticky-top
{
    top: 0;
}

.nav-container
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-end-button
{
    padding: 1px;
    margin: 3px;
}

.flex-center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    margin: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle:hover 
{
    background-color: rgb(237, 120, 106);
	transition: all 0.5s;
}

.labels
{
    display: flex;
    flex-wrap: wrap;
}

.label
{
    border-radius: 12px;
    background-color: rgb(237, 120, 106);

    white-space: nowrap;
    width: -moz-min-content;
	width: -webkit-min-content;
    width: min-content;
    
    padding: 1px;
    margin: 3px;
}

.circle a
{
    color: white;
    text-decoration: none;
}

.image
{
    border: solid 6px rgb(229, 229, 229) !important;
}

.image.featured
{
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}

.auto-size-image
{
    max-width: 100%;
    width: auto;
    height: auto;
}

.max-w-700
{
    max-width: 700px;
}

.line-1
{
    height: 1px;
    background-color: rgb(229, 229, 229);
}

.line-2
{
    height: 2px;
    background-color: rgb(229, 229, 229);
}

.mx-25
{
    margin-left: 25%;
    margin-right: 25%;
}

.mxh-470
{
    max-height: 470px;
}